header {
    width: 100%;
    margin: 0 auto 30px;
}

header .logo {
    width: 55%;
    margin: 0 auto;
}

/* 手機時隱藏 */
.header-computer {
    display: none;
}

@media screen and (min-width: 992px) {
    /* 桌機時隱藏 */
    header {
        display: none
    }

    /* 桌機顯示，絕對定位，權重調高 */
    /* 因為flex無法讓slick和它水平，所以用絕對定位讓slick往上，一左一右 */
    .header-computer {
        display: block;
        position: absolute;
        z-index: 5
    }

    /* 調大lgoo */
    .header-computer .logo {
        width: 70%;
        margin: 60px 30px 90px 0;
    }

    /* 每個link的mb40 */
    .header-computer .info p {
        margin-bottom: 40px;
    }

    /* link文字樣式 */
    .header-computer .info p a {
        color: #000;
        font-size: 24px;
    }
}