.slider-info {
    position: relative;
    margin-bottom: 70px;
}

.slider-info .info {
    position: absolute;
    top: 10px;
    left: 15px;
    z-index: 3
}

.slider-info .info li {
    margin-bottom: 35px;
    letter-spacing: 2px;
    color: #000
}

.info li a {
    color: #000
}

@media screen and (min-width: 992px) {
    .slider-info .info {
        display: none
    }
}