footer .logo {
    width: 45%;
    margin: 0 auto;
    margin-bottom: 50px;
}

/* 手機板link換行 */
footer .info {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

/* 每個link寬度為33.3333% 一行放3個 */
footer .info li {
    width: 33.3333%;
    text-align: center;
    margin-bottom: 30px;
}

footer .info li a {
    color: rgba(0, 0, 0, .6)
}

/* 觸碰到link就變黑變粗 */
footer .info li:hover a {
    font-weight: 700;
    color: #000
}

.copyright {
    text-align: center;
    color: #aaa
}

@media screen and (min-width: 992px) {
    /* 桌機link不換行 */
    footer .info {
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: 20px;
    }

    /* logo大小調整 */
    footer .logo {
        width: 20%;
        margin: 0 auto;
        margin-bottom: 50px;
    }

}