* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato',
        sans-serif;
}

#root {
    padding: 25px 0;
}

@media screen and (min-width: 992px) {
    #root {
        padding: 0 0 25px 0;
    }
}

ul,
ol,
p {
    list-style: none;
    margin-bottom: 0;
}

a:hover {
    text-decoration: none;
}


/* 三個區域與下一個區域的間隔 */
.news,
.schedule,
.gallery {
    margin-bottom: 70px;
}

/* flex讓標題行水平對齊 */
.news .title-row,
.schedule .title-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

/* 標題size */
.news .title,
.schedule .title,
.gallery .title {
    font-size: 30px;
    font-weight: 500;
}

/* gallery沒有-row，所以要額外加mb15 */
.gallery .title {
    margin-bottom: 15px;
}

/* 展示更多按鈕 */
.news .view,
.schedule .view {
    position: relative;
    font-weight: 500px;

}

.news .view a,
.schedule .view a {
    color: #000
}

/* 按鈕底下的黑線 */
.news .view::before,
.schedule .view::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #000;
    transition: .5s
}

/* 碰觸就消失 */
.news .view:hover::before,
.schedule .view:hover::before {
    width: 0%;
}

.news .content p,
.schedule .content p {
    letter-spacing: 2px;
    font-size: 15px;
    color: rgba(0, 0, 0, .6)
}